:host {
  display: block;
}
:host .search-result {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}
:host .search-section {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  align-items: center;
}
:host .search-header {
  display: flex;
}
:host .search-toolbar {
  display: flex;
  justify-content: space-around;
}
:host .search-map {
  padding: 0;
  height: calc(100% - 121px);
  position: relative;
}
:host .search-map__content {
  height: 100%;
}
:host .search-map .search-data {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  z-index: 1000;
  overflow-y: hidden;
}