@import '../../../global/scss/variables.scss';

:host {
  .hclsdk-select {
    width: 100%;
    position: relative;
    display: inline-block;
    background-color: #fff;

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border-bottom: 2px solid #000;
      border-right: 2px solid #000;
      border-radius: 1px;
      transform: rotate(45deg);
      right: 10px;
      bottom: 13px;
    }

    & > select {
      display: block;
      width: 100%;
      padding: 5px;
      border: 1px solid var(--hcl-color-card_border);
      font-size: 13px;
      border-radius: 5px;
      padding: 5px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;

      @include applyFontStyle("default");

      &:focus {
        outline: none;
      }

      &::-ms-expand { 
        display: none; 
      }
    }
    & > .icon {
      display: block;
      position: absolute;
      right: 20px;
      top: 8px;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    &--loading {
      pointer-events: none;

      & > .icon {
        opacity: 1;
        visibility: visible;
      }

      &::after {
        opacity: 0;
      }
    }
  }
}