@import '../../../global/scss/variables.scss';

:host {
  .hclsdk-select {
    width: 100%;
    position: relative;
    display: inline-block;
    & > select {
      display: block;
      width: 100%;
      padding: 5px;
      border: 1px solid var(--hcl-color-card_border);
      font-size: 13px;
      border-radius: 5px;
      padding: 5px;

      @include applyFontStyle("default");

      &:focus {
        outline: none;
      }
    }
    & > .icon {
      display: block;
      position: absolute;
      right: 20px;
      top: 7px;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    &--loading {
      pointer-events: none;

      & > select {
        -moz-appearance: none; 
        -webkit-appearance: none; 
        &::-ms-expand { 
          display: none; 
        }
      }
      & > .icon {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}