dist/
!www/favicon.ico
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

examples/web/cdn/onekey-sdk
examples/web/cdn/devtools

packages/*/onekey-sdk-core
packages/*/onekey-sdk-core-ui
packages/*/onekey-sdk-devtools
