dist/
!www/favicon.ico
www/

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

!examples/web/react/.env

examples/web/cdn/hcl-sdk-web-ui
examples/web/cdn/hcl-sdk-tools
examples/web/cdn/hcl-sdk-api

packages/*/hcl-sdk-core
packages/*/hcl-sdk-web-ui
packages/*/hcl-sdk-web-devtools

storage/