dist/
!www/favicon.ico
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

examples/web/cdn/hcl-sdk
examples/web/cdn/devtools
examples/web/cdn/hcl-sdk-api

packages/*/hcl-sdk-core
packages/*/hcl-sdk-web-ui
packages/*/hcl-sdk-web-devtools
