name: $(Build.SourceBranch)

trigger:
  branches:
   include:
   - release/*
  tags: 
   include:
   - v*

parameters:
  - name: azcrconnectionparam
    displayName: Docker connection
    type: string
    default: onekeyprodregistry.azurecr.io-onekey-sdk-web-lib

variables:
  azcrconnection: ${{ parameters.azcrconnectionparam }}
  cdnUrl: $(cdn.url)

pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: BuildNumberGenerator  
    displayName: Build Version Tag
    jobs:
    - job: GenerateReleaseVersionTag
      condition: startsWith(variables['build.sourceBranch'], 'refs/heads/release/')
      variables: 
        revision: $[counter(variables['build.sourcebranchname'], 0)]
      steps:
      - bash: echo '##vso[build.updatebuildnumber]r$(build.sourcebranchname)-$(revision)'

    - job: GenerateMasterVersionTag
      condition: startsWith(variables['build.sourceBranch'], 'refs/tags/')
      variables: 
        revision: $[counter(variables['build.sourceBranch'], 0)]
      steps:
      - bash: echo '##vso[build.updatebuildnumber]$(build.sourcebranchname)-$(revision)'

  - stage: BuildSteps
    jobs:
    - job: Build 
      condition: or(startsWith(variables['build.sourceBranch'], 'refs/heads/release/'), startsWith(variables['build.sourceBranch'], 'refs/tags/')) 
      steps:

      - checkout: self
        path: s/onekey-sdk-web-lib

      - task: RegExMatchReplace@2
        inputs:
          PathToFile: 'examples/web/cdn/index.html'
          RegEx: '<script src="\.'
          ValueToReplace: "<script src=\"$(cdnUrl)"
          Global: true

      - task: RegExMatchReplace@2
        inputs:
          PathToFile: 'examples/web/cdn/search.html'
          RegEx: '<script src="\.'
          ValueToReplace: "<script src=\"$(cdnUrl)"
          Global: true

      - task: Docker@2
        displayName: Docker login
        inputs:
          command: login
          containerRegistry: $(azcrconnection)

      - task: Docker@2
        displayName: Build image
        inputs:
          containerRegistry: $(azcrconnection)
          repository: $(Build.Repository.Name)
          command: 'buildAndPush'
          Dockerfile: 'devops/Dockerfile.app'
          tags: $(build.buildnumber)
          buildContext: '.'
