$directions: (
  'col': column,
  'row': row,
  'row-reverse': row-reverse,
  'col-reverse': column-reverse
);
$axes: (
  'justify': justify-content,
  'items': align-items,
  'self': align-self
);
$alignments: (
  'center': center,
  'start': flex-start,
  'end': flex-end,
);

.flex {
  display: flex;
}

@each $directionKey, $direction in $directions {
  .flex-#{$directionKey} {
    flex-direction: $direction;
  }
}

@each $axisKey, $axis in $axes {
  @each $alignmentKey, $alignment in $alignments {
    .#{$axisKey}-#{$alignmentKey} {
      #{$axis}: $alignment;
    }
  }
}
