:host {
  .hclsdk-btn-search {
    &-back {
      align-self: flex-start;
      display: flex;
      padding: 5px 0;

      a {
        color: var(--hcl-color-dark);
        margin-right: 8px;
        align-self: flex-start;
      }
    }
    &-address {
      align-self: center;
      position: relative;
      width: 40px;
      height: 40px;
    }
  }

  .search-back-large {
    flex: 1;
    display: flex;
    align-items: center;
    height: 44px;
    span {
      margin-left: 6px;
      color: var(--hcl-color-grey_dark);
    }
    .hclsdk-btn {
      padding: 0;
    }
  }

  .hclsdk-btn-reset-search {
    display: none;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: underline;
  }

  .hclsdk-search {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: white;
    width: 100%;
    border-radius: 0px;
    border-bottom: 1px solid var(--hcl-color-card_border);
    padding: 10px;

    &__container {
      display: flex;
      align-items: center;
    }

    &__form {
      display: flex;
      flex: 1;

      &--content {
        flex: 1;
        margin-right: 8px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        &-item {
          position: relative;
          &:last-child {
            margin-top: 8px;
          }
        }
      }
    }

    &__dropdown {
      padding: 0 15px;
      background-color: white;
    }

  }

  .hclsdk-error {
    input {
      border: 1px solid red;
    }
  }

  .size-tablet,
  .size-desktop {
    hcl-sdk-search {
      z-index: 100000;
    }

    .hclsdk-search {
      display: grid;
      grid-gap: 31px;
      grid-auto-flow: row;
      border: none;
      padding: 0;

      &__container {
        padding: 0;
        box-shadow: 0 4px 2px -2px var(--hcl-color-card_border);
      }

      &__form {
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        grid-gap: 20px;

        &--content {
          display: grid;
          grid-auto-flow: column;
          grid-gap: 20px;

          &-item:last-child {
            margin-top: 0;
          }
        }

        .hcl-sdk-input {
          z-index: 1;
          position: relative;
          margin: 0;
          margin-bottom: 0;
        }

        .hclsdk-btn-search-address {
          padding: 0;
          margin: 0;
          width: 100%;
        }
      }

      &__dropdown {
        position: absolute;
        margin: -2px 0 0 0;
        width: 100%;
        height: max-content;
        border: 1px solid var(--hcl-color-card_border);
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
        overflow-y: auto;
        max-height: 250px;
        z-index: 0;
      }

      .hclsdk-open-address .hclsdk-error {
        border-color: var(--hcl-color-grey_dark);
      }
    }

    .hclsdk-btn-reset-search {
      display: block;
    }

    .hclsdk-btn-search-back {
      display: none;
    }

    // HCP Detail Page
    .map-view-mode,
    .list-view-mode {
      .hclsdk-search {
        &__container{
          padding: 0 17px;
        }
        &__form {
          flex: 0;
          justify-content: flex-start;
        }
      }
      .hclsdk-btn-reset-search {
        display: block;
        margin-right: auto;
      }
    }
  }


  .size-tablet {
    .hclsdk-search {
      &__form {
        grid-template-columns: auto 42px;
      }
    }
    .hcl-sdk-input {
      min-width: 210px;
    }
  }

  .size-desktop {
    .hclsdk-search {
      &__form {
        grid-template-columns: auto 150px;
      }
    }
    .hcl-sdk-input {
      min-width: 258px;
    }
  }
}
