@import '../../../global/scss/spacing.scss';
@import '../../../global/scss/flex.scss';
@import '../../../global/scss/border.scss';
@import '../../../global/scss/width.scss';

:host {
  .text-color-primary {
    color: var(--hcl-color-primary);
  }

  .text-color-secondary {
    color: var(--hcl-color-secondary);
  }

  .underline {
    text-decoration: underline;
  }

  .border {
    border-width: 1px;
    border-style: solid;
  }

  .border-card {
    border-color: var(--hcl-color-card_border);
  }

  .border-color-secondary {
    color: var(--hcl-color-secondary);
  }

  .contain-tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hclsdk-tabs {
    display: grid;
    justify-content: flex-start;
    gap: 8px;
    grid-template-columns: 25px 1fr 1fr 25px;
    margin-bottom: 12px;

    &__tab {
      button {
        width: 100%;
        transition: all 100ms;
        border-radius: 0;
        padding: 4px 10px;
        border-bottom: 4px solid #bdbdbd;

        &:hover {
          background-color: #e4e4e757;
        }
      }

      font-size: 20px;

      display: flex;
      justify-content: center;

      svg {
        fill: #bdbdbd;
      }

      &--active {
        font-size: 20px;

        svg {
          fill: var(--hcl-color-primary);
        }

        button {
          background-color: #43b02a1c;
          border-bottom: 4px solid var(--hcl-color-primary);

          &:hover {
            background-color: #43b02a1c;
          }
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  .hclsdk-btn-search {
    &-back {
      align-self: flex-start;
      display: flex;
      padding: 5px 0;
      svg {
        fill: var(--hcl-color-black);
      }
      a {
        color: var(--hcl-color-dark);
        margin-right: 8px;
        align-self: flex-start;
      }
    }
    &-address {
      align-self: center;
      position: relative;
      width: 100%;
      height: 40px;
    }
  }

  .search-back-large {
    flex: 1;
    display: flex;
    align-items: center;
    height: 35px;
    span {
      margin-left: 6px;
      color: var(--hcl-color-grey_dark);
    }
    .hclsdk-btn {
      padding: 0;
    }
  }

  .hclsdk-search {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: var(--hcl-color-header_block);
    width: 100%;
    border-radius: 0px;
    border-bottom: 1px solid var(--hcl-color-card_border);
    padding-left: 10px;
    padding-right: 10px;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__form {
      display: flex;
      flex: 1;
      margin-right: 8px;

      &--content {
        flex: 1;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        &-item {
          position: relative;
          & + .hclsdk-search__form--content-item {
            margin-top: 8px;
          }

          &--country {
            .hcl-sdk-input {
              cursor: pointer;
            }
            .input-postfix {
              pointer-events: none;
            }
          }
        }
      }
    }

    &.hco-search {
      .hclsdk-search__form {
        margin-left: 25px;
        margin-right: 25px;
        padding-left: 8px;
        padding-right: 8px;
        gap: 8px;
      }
    }

    &__form--hide {
      display: none !important;
    }

    &__dropdown {
      padding: 0;
      background-color: var(--hcl-color-input_background);
    }

    &__modify {
      display: flex;
      align-items: center;
    }
    &__modify__input {
      height: 40px;
      border: 1px solid var(--hcl-color-card_border);
      padding-right: 16px;
      padding-left: 16px;
      border-radius: 5px;
      line-height: 40px;
      margin-right: 20px;
      @include applyFontStyle("search_input");
      min-width: 310px;
      max-width: 568px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-transform: capitalize;
      user-select: none;
      font-weight: 500;
      
      span {
        font-weight: 500;
        &.address {
          color: var(--hcl-color-grey_dark);
          &:nth-child(2):before {
            content: ', ';
          }
        }
      }
    }
    &__modify__close {
      cursor: pointer;
      margin-left: auto;
    }
    &__modify__action {
      display: flex;
      cursor: pointer;
      align-items: center;
      span {
        font-weight: 500;
        text-transform: uppercase;
        color: var(--hcl-color-secondary);
      }
      .icon {
        top: -2px;
        margin-right: 8px;
        display: block;
        position: relative;
        fill: var(--hcl-color-secondary);;
      }
    }
  }

  .hclsdk-error {
    input {
      border: 1px solid red;
    }
  }

  .size-mobile {
    .hclsdk-search__form {
      flex-direction: column;
      padding-right: 33px;

      & > .hclsdk-btn-search-address {
        margin-top: 8px;
      }
    }

    .hclsdk-search__dropdown.country {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      margin-top: 2px;
      width: 100%;
      height: max-content;
      border: 1px solid var(--hcl-color-card_border);
      box-shadow: 0 0 2px rgb(0 0 0 / 30%);
      overflow-y: auto;
      max-height: 166px;
      z-index: 10;
    }
    
    .hclsdk-search.hco-search {
      .hclsdk-search__form {
        padding-right: 0px;
      }   
    }
  }

  .size-tablet,
  .size-desktop {
    .switch-mode {
      margin-left: auto;
    }

    .hclsdk-tabs {
      grid-template-columns: 1fr 1fr;
    }

    .hclsdk-search.hco-search {
      .hclsdk-search__form {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  
  .size-desktop-sm,
  .size-desktop {
    hcl-sdk-search {
      z-index: 100000;
    }

    .hclsdk-tabs {
      grid-template-columns: 40px 40px;
      margin-right: 16px;
      margin-bottom: 0px;

      &__tab {
        width: 40px;

        button {
          border: 1px solid var(--hcl-color-card_border);
          border-radius: 4px;
          height: 40px;
          width: 40px;
        }

        &--active {
          font-size: 20px;
  
          svg {
            fill: #fff;
          }
  
          button {
            background-color: var(--hcl-color-primary);
  
            &:hover {
              background-color: var(--hcl-color-primary);
            }
          }
        }
      }
    }

    .hclsdk-search {
      display: flex;
      align-items: center;
      border: none;
      padding-left: 10px;
      padding-right: 10px;
      box-shadow: 0 4px 2px -2px var(--hcl-color-card_border);

      &.hco-search {
        .hclsdk-search__container {
          padding: 0;
          flex-direction: row;
        }

        .hclsdk-search__form {
          grid-gap: 16px;
        }

        .hclsdk-search__content {
          grid-gap: 8px;
        }
      }

      &__container {
        padding: 0;

        &--not-modifying {
          align-items: flex-start;
        }
      }

      &__form {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-gap: 16px;

        &--content {
          display: grid;
          grid-auto-flow: column;
          grid-gap: 8px;

          &-item + .hclsdk-search__form--content-item {
            margin-top: 0;
          }
        }

        .hcl-sdk-input {
          z-index: 1;
          position: relative;
          margin: 0;
          margin-bottom: 0;
        }

        .hclsdk-btn-search-address {
          padding: 0;
          margin: 0;
        }
      }

      &__dropdown {
        position: absolute;
        margin: -2px 0 0 0;
        width: 100%;
        height: max-content;
        border: 1px solid var(--hcl-color-card_border);
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
        overflow-y: auto;
        max-height: 250px;
        z-index: 0;

        &.country {
          margin: 2px;
          border-radius: 3px;
          min-width: 220px;
          right: 0;
          box-shadow: 0px 0px 10px 1px rgba(120, 120, 105, 0.2);
        }
      }

      .hclsdk-open-address .hclsdk-error {
        border-color: var(--hcl-color-grey_dark);
      }
    }

    .hclsdk-btn-search-back {
      display: none;
    }

    // HCP Detail Page
    .map-view-mode,
    .list-view-mode {
      .hclsdk-search {
        &__container{
          padding: 0 17px;
        }
        &__form {
          flex: 0;
          justify-content: flex-start;
        }
      }
    }
  }

  .size-tablet-xs {
    .hclsdk-search.hco-search {
      .hclsdk-search__container {
        flex-direction: column;
      }
    }
    .hclsdk-search {
      padding: 18px 22px;
      &__form {
        flex-direction: column;
        &--content {
          margin-right: 0;
          &-item {
            max-height: 40px;
            & + .hclsdk-search__form--content-item {
              margin-top: 16px;
            }
          }
        }
      }
      &__dropdown {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: 2px;
        width: 100%;
        height: max-content;
        border: 1px solid var(--hcl-color-card_border);
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
        overflow-y: auto;
        max-height: 250px;
        z-index: 10;
      }
      &__modify {
        padding: 0;
        &__input {
          max-width: 400px;
        }
      }
    }
    &.show-search-form-popup {
      .hcl-sdk-search-result {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #000;
          opacity: 0.15;
          z-index: 2;
        }
        &::before {
          content: '';
          height: 77px;
          display: block;
        }
        .body-block {
          z-index: 1;
        }
        hcl-sdk-search {
          top: 0;
          left: 0;
          right: 0;
          z-index: 3;
          position: absolute;
        }
        .hclsdk-search {
          padding-top: 28px;
          &__modify__close {
            position: absolute;
            top: 5px;
            right: 10px;
          }
        }
      }
    }
    .hclsdk-btn-search-back {
      display: none;
    }
    hcl-sdk-button.hclsdk-btn-search-address {
      margin-top: 16px;
    }
  }

  .size-desktop-sm {
    .hcl-sdk-input {
      width: 230px;
    }
    .hclsdk-search.hco-search {
      .hcl-sdk-input:not([name='country']) {
        width: 180px;
      }
    }
    &.show-medical-term {
      .hcl-sdk-input {
        width: 170px;
      }
    }
  }

  .size-desktop,
  .size-desktop-sm {
    .hclsdk-search {
      &__form {
        grid-template-columns: auto 130px;
      }
    }
  }

  .size-desktop:not(.size-desktop-sm) {
    .hcl-sdk-input {
      width: 258px;
    }
  }

  .size-desktop,
  .size-desktop-sm {
    .hclsdk-search__form--content-item--country {
      .hcl-sdk-input {
        width: 60px;
        color: transparent;
      }
    }
  }
}
