:host {
  .search-back {
    align-self: flex-start;
    display: flex;

    a {
      color: var(--onekeysdk-color-dark);
      margin-right: 8px;
      align-self: flex-start;
    }
  }

  .reset-search {
    visibility: hidden;
    display: none;
  }

  .search-block {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: white;
    width: 100%;
    margin: 0 !important;
    padding-right: 0px;
    border-radius: 0px;
  }

  .search-content {
    background: white;
    padding: 0 15px;
    border-top: 1px solid var(--onekeysdk-color-card_border);
    padding-top: 10px;
  }

  .search-hpc {
    display: flex;
    align-items: center;
    padding: 10px 15px;
  }

  .search-address-btn {
    align-self: center;
    position: relative;
    width: 41px;
    height: 40px;
  }

  .search-form {
    display: flex;
    flex: 1;

    .search-form-content {
      flex: 1;
      margin-right: 8px;
      grid-gap: 8px;
    }

    .error {
      border: 1px solid red;
    }

    &-content {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;

      &-item {
        position: relative;

        &__remove {
          position: absolute;
          right: 0;
          justify-content: center;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .search-address-item {
    padding: 1rem;
    border-bottom: 1px solid var(--onekeysdk-color-card_border);
    cursor: pointer;
  }

  .size-lg, .size-xl {
    .search-hpc {
      justify-content: center;
      grid-gap: 20px;
      box-shadow: 0 4px 2px -2px var(--onekeysdk-color-card_border);
      display: grid;
      grid-auto-flow: column;
    }
    .search-form {
      display: grid;
      grid-template-columns: auto 150px;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      grid-gap: 20px;
    }

    .reset-search {
      display: block;
      visibility: visible;
      cursor: pointer;

      span {
        text-decoration: underline;
      }

      &.hide {
        visibility: hidden;
      }
    }
  }
}
