@import '../../../global/scss/variables.scss';

:host {

  input {
    @include applyFontStyle("search_input")
  }

  input[type="text"] {
    outline: none;
    height: 40px;
    &:focus {
      border: 1px solid var(--hcl-color-grey_dark);
    }
  }

  .input-checkbox {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 15px;
    height: 15px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 15px;
      width: 15px;
      z-index: 1;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      border-radius: 3px;
      border: 1px solid var(--hcl-color-button_border);
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
      background-color: var(--hcl-color-primary);
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .checkmark:after {
      left: 4px;
      top: 0;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .hcl-sdk-input {
    width: 100%;
    height: 38px;
  }

  .input-postfix {
    position: absolute;
    right: 0;
    top: 0;  
    z-index: 4;
  
    &.hclsdk-btn {
      padding: 0 5px;
      margin-right: 3px;
      background-color: var(--hcl-color-input_background);
      &--has-icon {
        margin-top: 10px;
      }
    }
    &__loader {
      margin-right: 11px;
      margin-top: 13px;
    }
  }

  input[type="checkbox"]:checked {
    background: #fff;
  }
}
