:host {
  .main-contain {
    background-color: var(--onekeysdk-color-view_bkg);
    overflow-y: hidden;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .title {
    color: var(--onekeysdk-color-secondary);
    display: block;
    font-family: var(--onekeysdk-font-title_main-name);
    font-size: var(--onekeysdk-font-title_main-size);
    font-weight: var(--onekeysdk-font-title_main-weight);
    line-height: 26px;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &__icon {
      &::before {
        content: '';
        background-color: var(--onekeysdk-color-primary);
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 0;
        opacity: 0.1;
      }

      margin-right: 1rem;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 50%;
      .icon {
        fill: var(--onekeysdk-color-primary);
      }
    }

    &__message {
      flex: 1;
    }
  }

  .header {
    text-align: center;
  }

  .content {
    margin-top: 30px;
    display: grid;
    grid-gap: 40px;
  }

  .sub-text {
    display: block;
    color: #666666;
  }

  .search-home-hpc {
    form {
      position: relative;
      display: grid;
      grid-template-columns: 1fr auto;

      .search-address-btn {
        width: 42px;
        height: 100%;
        padding: 0;
        border: none;
      }
    }
  }

  .search-input {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .search-btn {
    margin-top: 35px;
  }


  // Responsive base on container
  .size-lg, .size-xl {
    .search-home-hpc {
      form {
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        justify-content: center;
      }
    }

    .search-hpc {
      padding: 0;
    }

    .search-block {
      display: grid;
      grid-gap: 31px;
      grid-auto-flow: row;
      position: relative;
      border: none;
      padding: 0;
    }

    .search-back {
      display: none;
    }

    .search-form {
      .search-form-content {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 20px;
      }

      input:first-child {
        min-width: 258px;
        margin: 0;
        margin-bottom: 0;
      }

      .search-address-btn {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
      }

      .search-content {
        position: absolute;
        margin: 0;
        width: 100%;
        padding: 10px 5px;
        height: max-content;
        border: 1px solid var(--onekeysdk-color-card_border);
        display: grid;
        overflow-y: scroll;
        max-height: 400px;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
      }
    }

    .main-block {
      display: grid;
      grid-gap: 31px;
      grid-auto-flow: row;
      border: none;
      background-color: transparent;

      &--header {
        background-color: white;
      }
    }

    .search-block {
      background-color: white;
    }

    .home {
      .content {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 350px));
        grid-gap: 5%;
      }

      .header {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, minmax(auto, max-content));
        justify-content: center;
        padding: 0;

        .title {
          font-size: 24px;
          display: inline-block;
        }
      }

      .item {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-gap: 15px;
        border: 1px solid var(--onekeysdk-color-card_border);
        padding: 25px 10px;
        border-radius: 10px;
        background-color: white;

        &__icon {
          margin-right: 0;
          justify-self: center;
          width: 54px;
          height: 54px;
          background-color: var(--onekeysdk-color-primary);

          svg {
            fill: white;
          }
        }

        &__message {
          display: grid;
          grid-gap: 15px;

          strong {
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
