:host {
  .modal-container {
    width: 100%;
    height: 100%;
    background: #00000033;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100000;
  }

  .modal-class {
    padding: 10px;
    display: grid;
    background-color: var(--onekeysdk-color-view_bkg);

    position: absolute;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .modal-title {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;

    .title {
      color: var(--onekeysdk-color-primary);
      @include applyFontStyle("modal_title");
    }
  }

  .size-mobile {
    .modal-content {
      display: flex;
    }
  }

  .size-tablet,
  .size-desktop {
    .modal-class {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -20%);
      padding: 12px 15px 22px 15px;
      background-color: white;
      width: auto;
      height: auto;
      border: 1px solid var(--onekeysdk-color-card_border);
      min-width: 338px;
      border-radius: 5px;
    }

    .modal-title {
      text-align: center;
      position: relative;
      padding-bottom: 10px;
      &::after {
        content: '';
        height: 1px;
        left: -15px;
        right: -15px;
        bottom: 0;
        background-color: var(--onekeysdk-color-card_border);
        position: absolute;
      }
      .icon {
        top: -4px;
        right: -8px;
        position: absolute;
      }
    }
  }
}