:host {
  display: flex;

  onekey-sdk-search-address-item:first-child .search-address-item {
    border-top: none;
  }

  .search-address-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--onekeysdk-color-grey_lighter);
    padding: 15px 0;
  }

  .size-mobile .search-address-item {
      padding: 20px 0;
  }

  .search-address-item-icon-wrapper {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }

  .search-address-item-icon {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: var(--onekeysdk-color-primary);
      opacity: 0.1;
    }
    font-size: 20px;
    position: relative;
    color: var(--onekeysdk-color-primary);
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;


    > .icon {
      > .hydrated {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: grid;
        margin-left: 3px;
      }
    }
  }

  .search-address-item-text {
    &.active {
      border-bottom: 1px solid var(--onekeysdk-color-primary);
      color: var(--onekeysdk-color-primary);
    }

    .name {
      font-size: 14px;
    }

    .specialty {
      font-size: 12px;
    }

    .address {
      font-size: 12px;
      color: var(--onekeysdk-color-grey);
    }

    > span {
      display: block;
    }
    > span + span {
      margin-top: 3px;
    }
  }
}
