:host {
  display: block;

  .toggle-panel {
    display: none;
  }

  .btn-back {
    font-size: 25px;
    margin-right: 0.5rem;

    a {
      color: black;
    }
  }

  .search-result {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;

    &-title {
      font-size: 16px;
    }

    &-address {
      font-size: 12px;
      color: #7d7d7d;
    }
  }

  .search-section {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #ddd;
    align-items: center;
    background: white;
  }

  .search-header {
    display: flex;
  }

  .search-toolbar {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0.2rem;
  }

  .search-map {
    padding: 0;
    height: calc(100% - 112px);
    position: relative;

    &__content {
      height: 100%;
    }

    .search-data {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      z-index: 1000;
      overflow-y: hidden;
      

      &.list-view {
        position: relative;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px 10px 0 10px;
        margin-left: 0;
        flex: 1;
        width: auto;
        box-sizing: border-box;
        margin-bottom: 0;
        background-color: #f8f9fa;

        .doctor-card {
          margin-left: 0;
          margin-bottom: 10px;
          flex: 1;
          width: auto;
        }
      }
    }
  }

  .search-filter {
    background-color: rgb(0, 163, 224);
    font-size: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 2rem;
    width: 24px;
    height: 24px;
  }

  .size-xs, .size-sm {

    &.map-view-mode {
      .search-map {
        .search-data {
          bottom: 10px;
        }
      }  
    }
    
    .search-result {
      overflow: hidden;
    }
    .search-data {
      &.list-view {
        position: absolute;
        width: 100%;
        top: 50px;
        height: calc(100% - 50px);
      }
    }
    .search-toolbar {
      display: grid;
      grid-template-columns: 1fr auto auto;
      padding: 10px 15px;
      grid-gap: 10px;
    }

    .search-map-wrapper {
      .main-contain {
        position: absolute;
      }
      .main-block {
        margin-top: 0;
        margin-bottom: 0;

        &:first-child {
          margin-top: 10px;
          border-bottom: none;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:last-child {
          border-top: none;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
  }

  .size-lg, .size-xl {
    .search-hpc {
      display: grid;
      grid-template-columns: auto 145px;
    }

    .search-map .search-data.list-view {
      background-color: transparent;
    }
    .search-map {
      .search-map-wrapper {
        position: relative;
        width: 350px;
        position: absolute;
        height: 100%;
        z-index: 999;
        top: 2px;
        display: grid;

        &.hide {
          width: 0;

          div {
            &:not(.toggle-panel) {
              display: none;
            }
          }

          .toggle-panel {
            transform: rotate(360deg);
          }
        }

        .search-toolbar  {
          display: grid;
          grid-auto-flow: column;
          grid-gap: 10px;

          > div {
            &:first-child {
              display: grid;
              grid-auto-flow: column;
              justify-content: center;
              align-items: center;
              justify-self: start;
              align-self: start;
              grid-gap: 5px;
            }
          }
        }
      }
    }

    &.list-view-mode {
      .search-map {
        .search-map-wrapper {
          position: relative;
          width: 100%;
          grid-template-columns: 500px;
          justify-content: center;
        }

        .search-toolbar {
          border: 1px solid #ddd;
          grid-template-columns: 1fr auto auto;
          border-radius: 5px;
          margin-top: 10px;
        }
      }

      .search-map.search-section {
        .search-map-wrapper {
          background-color: #f8f9fa;
        }
      }

      .search-map {
        .search-data.list-view{
          padding: 10px 0;

          .doctor-card {
            border-width: 1px;
          }
        }
      }
    }

    &.map-view-mode {
      .search-data.list-view {
        background-color: #f8f9fa;
      }
      .main-block--content {
        margin-top: 0;
      }

      .main-info {
        margin: 0 5px;
      }

      .main-block__navigation {
        border-radius: 0;
      }

      .current-location {
        right: 30px;
        bottom: 50px;
      }

      .toggle-panel {
        position: absolute;
        z-index: 9999;
        right: -40px;
        height: 41px;
        display: grid;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
        background: white;
        transform: rotate(180deg);
        top: -1px;
        border-radius: 5px;
      }
    }
  }

  
}
