@import '../../../global/scss/variables.scss';

:host {
  .suggest-edit-btn .btn {
    background-color: var(--onekeysdk-color-button_bkg);
    border: 1px solid var(--onekeysdk-color-button_border);
    padding-top: 5px;
    padding-bottom: 8px;
    .icon {
      margin-right: 5px;
    }
  }

  .btn-rate .btn {
    background-color: #fff;
    border: 1px solid var(--onekeysdk-color-grey_light);
    width: 30px;
    .icon {
      fill: var(--onekeysdk-color-grey_light);
    }
  }

  .main-info {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    position: relative;

    &__name {
      display: grid;
      grid-template-columns: 50px 1fr;
      justify-content: center;
      align-items: center;
      grid-gap: 10px;
    }

    &__avatar {
      background-color: #ddd;
      width: 50px;
      height: 50px;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 3px;

      .icon {
        fill: white;
      }
    }

    &__profile {
      display: grid;
      align-self: flex-start;
      padding-top: 4px;

      &-name {
        color: var(--onekeysdk-color-secondary);
        @include applyFontStyle("profile_title");
      }

      &-dep {
        color: var(--onekeysdk-color-dark);
        @include applyFontStyle("profile_subtitle");
      }
    }
  }

  .info-section  {
    border-top: 1px solid var(--onekeysdk-color-card_border);
    padding: 10px 0;
    display: grid;
    grid-gap: 10px;

    &:nth-child(2) {
      border-top: none;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .info-section-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    align-items: center;

    &__title {
      color: var(--onekeysdk-color-secondary);

      @include applyFontStyle("profile_title_section");
      display: grid;
      align-self: center;
    }

    &__postfix {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      .btn {
        border: 1px solid var(--onekeysdk-color-grey_lighter);
      }
    }
  }

  .info-contact {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    justify-content: center;

    &-item {
      display: grid;
      grid-gap: 7px;
      grid-template-columns: auto 1fr;
      justify-content: center;
      align-items: center;

      >:nth-child(2) {
        display: grid;
      }
    }
  }

  .info-contact-item {
    &.confirm-yes {
      cursor: pointer;
      button {
        background-color: var(--onekeysdk-color-vote_up);

        svg {
          fill: white;
        }
      }
    }

    &.confirm-no {
      cursor: pointer;
      button {
        background-color: var(--onekeysdk-color-vote_down);

        svg {
          fill: white;
        }
      }
    }
  }

  .info-section-body {
    display: grid;
    grid-gap: 20px;
    color: var(--onekeysdk-color-dark);
    @include applyFontStyle("default");

    &__map {
      height: 100px;
      width: 100%;
    }

    &__address {
      select {
        width: 100%;
        padding: 5px;
        border: 1px solid var(--onekeysdk-color-card_border);
        font-size: 13px;
        border-radius: 5px;
        padding: 5px;

        @include applyFontStyle("default");
      }
    }

    &__location {
      .info-contact-item {
        > :first-child {
          display: grid;
          align-self: start;
        }
      }
    }

    &__contact {
      grid-gap: 30px;
    }

    &__correct {
      grid-gap: 20px;
      grid-template-columns: auto auto;
      justify-content: start;

      .btn.icon {
        padding: 5px;
      }
    }
  }

  .size-mobile {
    .leaflet-control-zoom {
      display: none;
    }
  }

  .size-tablet, .size-desktop {
    .search-home-hpc {
      form {
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        justify-content: center;
      }
    }

    .search-hcp {
      padding: 0;
    }

    .search-block {
      display: grid;
      grid-gap: 31px;
      grid-auto-flow: row;
      position: relative;
      border: none;
      padding: 0;
    }

    .search-back {
      display: none;
    }

    .main-block {
      margin: 0;
    }

    .main-block--header {
      padding: 0;
    }

    .hcp-details-card,
    .main-block__navigation {
      width: 640px;
      margin-left: auto;
      margin-right: auto;
    }

    .hcp-details-card {
      margin-top: 10px;
    }

    .main-block__navigation {
      background-color: white;
      border: 1px solid var(--onekeysdk-color-card_border);
      border-radius: 5px;
    }

    .main-info {
      background-color: white;
      border: 1px solid var(--onekeysdk-color-card_border);
      border-radius: 5px;
    }

    &.list-view-mode {
      .info-section {
        justify-content: start;
        grid-template-columns: 0.4fr 0.6fr;
      }

      .info-section-header__postfix {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 4;
      }
    }
  }
}
