:host {
  .hclsdk-switch-view-mode {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 32px;
    padding: 2px;
    cursor: pointer;

    .mode-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 12px;
      color: #5c5c5c;

      span {
        margin-left: 5px;
        font-weight: 300;
      }

      &.active {
        background: var(--hcl-color-primary);
        color: white;
        border-radius: 32px;
        span {
          color: white;
        }

        hcl-sdk-icon svg{
          fill: white;
        }
      }
    }
  }


  .size-tablet {
    .hclsdk-switch-view-mode {
      .mode-item > span {
        display: none;
      }
    }
  }
}
