@import '../../../global/scss/variables.scss';

:host {
  .hclsdk-btn-suggest-edit {
    .hclsdk-btn {
      background-color: var(--hcl-color-button_bkg);
      border: 1px solid var(--hcl-color-button_border);
      padding-top: 5px;
      padding-bottom: 8px;
      .icon {
        margin-right: 5px;
      }
    }
  }
  

  .hclsdk-btn {
    &.hclsdk-btn-rate {
      background-color: #fff;
      border: 1px solid var(--hcl-color-grey_light);
      width: 30px;
      .icon {
        fill: var(--hcl-color-grey_light);
      }
    }
  }

  .main-info {
    padding: 16px;
    display: grid;
    grid-gap: 10px;
    position: relative;

    &__name {
      display: grid;
      grid-template-columns: 50px 1fr;
      justify-content: center;
      align-items: center;
      grid-gap: 10px;
    }

    &__avatar {
      background-color: #ddd;
      width: 50px;
      height: 50px;
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 3px;

      .icon {
        fill: white;
      }
    }

    &__profile {
      display: grid;
      align-self: flex-start;
      padding-top: 4px;

      &-name {
        color: var(--hcl-color-secondary);
        @include applyFontStyle("profile_title");
      }

      &-dep {
        color: var(--hcl-color-dark);
        @include applyFontStyle("profile_subtitle");
      }
    }
  }

  .info-section  {
    border-top: 1px solid var(--hcl-color-card_border);
    padding: 16px 0;
    display: grid;
    grid-gap: 10px;

    &:nth-child(2) {
      border-top: none;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .info-section-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    align-content: baseline;
    justify-content: start;

    &__title {
      color: var(--hcl-color-secondary);

      @include applyFontStyle("profile_title_section");
      display: grid;
      align-self: center;
    }

    &__postfix {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      .hclsdk-btn {
        border: 1px solid var(--hcl-color-grey_lighter);
      }
    }
  }

  .info-contact {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    justify-content: center;

    &-item {
      display: grid;
      grid-gap: 7px;
      grid-template-columns: auto 1fr;
      justify-content: center;
      align-items: center;

      >:nth-child(2) {
        display: grid;
      }
    }
  }

  .info-contact-item {
    &.confirm-yes {
      cursor: pointer;
      button {
        background-color: var(--hcl-color-vote_up);

        svg {
          fill: white;
        }
      }
    }

    &.confirm-no {
      cursor: pointer;
      button {
        background-color: var(--hcl-color-vote_down);

        svg {
          fill: white;
        }
      }
    }
  }

  .info-section-body {
    display: grid;
    grid-gap: 20px;
    color: var(--hcl-color-dark);
    @include applyFontStyle("default");

    &__map {
      height: 100px;
      width: 100%;
    }

    &__location {
      .info-contact-item {
        > :first-child {
          display: grid;
          align-self: start;
        }
      }
    }

    &__contact {
      grid-gap: 30px;
    }

    &__correct {
      grid-gap: 20px;
      grid-template-columns: auto auto;
      justify-content: start;

      .hclsdk-btn--has-icon {
        padding: 5px;
      }
    }
  }

  .hcp-details-card {
    &__loading {
      min-height: 180px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid var(--hcl-color-card_border);
    }
  }

  .size-mobile {
    .leaflet-control-zoom {
      display: none;
    }
  }

  .size-tablet, .size-desktop {
    .info-section-header {
      grid-template-columns: 1fr;
    }
    .search-home-hpc {
      form {
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        justify-content: center;
      }
    }

    .main-block {
      margin: 0;
    }

    .main-block--header {
      padding: 0;
    }

    .hcp-details-card,
    .main-block__navigation {
      width: 640px;
      margin-left: auto;
      margin-right: auto;
    }

    .hcp-details-card {
      margin-top: 10px;
      &__loading {
        min-height: 80px;
      }
    }

    .main-block__navigation {
      background-color: white;
      border: 1px solid var(--hcl-color-card_border);
      border-radius: 5px;
    }

    .main-info {
      background-color: white;
      border: 1px solid var(--hcl-color-card_border);
      border-radius: 5px;
    }

    .list-view-mode {
      .info-section {
        justify-content: start;
        grid-template-columns: 0.4fr 0.6fr;
      }

      .info-section-header__postfix {
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 4;
      }
    }

    .map-view-mode {
      .info-section {
        >:first-child {
          position: relative;
          margin-bottom: 15px;
        }
      }

      .info-section-header__postfix {
        position: absolute;
        top: -10px;
        right: 0;
        z-index: 4;
      }
    }
  }

}
