// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../../../global/scss/variables.scss';
@import '../../../global/scss/materialize.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
// @import url('https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css');

:host {
  /* defaults */
  --onekeysdk-color-primary: #43b02a;
  --onekeysdk-color-secondary: #00a3e0;
  --onekeysdk-color-marker: red;
  --onekeysdk-color-marker-selected: blue;
  --onekeysdk-font-size: 14px;
  --onekeysdk-font-size-title: 20px;


  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-color: #f3f3f3;

  .main-contain {
    display: block;
    position: relative;
    height: 100%;
    overflow-y: scroll;
  }

  .main-block {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 10px;

    &--header {
      border-radius: 0;
      margin: 0;
      padding: 10px;
      margin-left: 0;
    }

    &--full {
      border-radius: 0;
    }
    

    &__navigation {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
    }
  }

  .full-block {
    width: 100%;
  }

  input {
    border: 1px solid #ddd;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    height: 38px;

    &:placeholder {
      color: #b8b8b8
    }
  }

  span {
    font-weight: 400;
    font-size: 14px;
    color: #2b3c4d;
  }

  strong {
    font-weight: 400;
    font-size: 14px;
  }

  a {
    color: #2b3c4d;
    font-size: 14px;
    text-decoration: unset;
  }

  .text-primary {
    color:  var(--onekeysdk-color-primary);
  }

  .text-bold {
    font-weight: 700;
  }

  .text-small {
    font-size: 14px;
  }
}


