@import '../../../global/scss/variables.scss';
@import '../../../global/scss/materialize.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-color: #f3f3f3;

  .main-contain {
    display: block;
    position: relative;
    height: 100%;
    overflow-y: scroll;
  }

  .main-block {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 10px;

    &--header {
      border-radius: 0;
      margin: 0;
      padding: 10px;
      margin-left: 0;
    }

    &--full {
      border-radius: 0;
    }
  }

  .full-block {
    width: 100%;
  }

  .btn {
    opacity: 1;
    mix-blend-mode: normal;
    border-radius: 5px;
    border-color: rgb(67, 176, 42);
    background-color: rgb(67, 176, 42);
    color: rgb(255, 255, 255);
    font-weight: normal;
    padding: 5px 10px 6px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    background-position: center center;
    background-repeat: repeat;
    background-size: auto;
    border-width: 1px;
    border-style: solid;
    min-height: 33px;
  }

  input {
    border: 1px solid #ddd;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    height: 38px;

    &:placeholder {
      color: #b8b8b8
    }
  }

  span {
    font-size: 14px;
    font-weight: 300;
  }

  strong {
    font-size: 14px;
    font-weight: 400;
  }

  .text-primary {
    color:  rgb(67, 176, 42);
  }

  .text-bold {
    font-weight: 700;
  }
}