@import '../../../global/scss/variables.scss';
@import '../../../global/scss/materialize.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

:host {
  /* defaults */
  --onekeysdk-color-primary: #43b02a;
  --onekeysdk-color-secondary: #00a3e0;
  --onekeysdk-color-marker: red;
  --onekeysdk-color-marker-selected: blue;
  --onekeysdk-font-size: 14px;
  --onekeysdk-font-size-title: 20px;


  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-color: #f3f3f3;

  .main-contain {
    display: block;
    position: relative;
    height: 100%;
    overflow-y: scroll;
  }

  .main-block {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 10px;

    &--header {
      border-radius: 0;
      margin: 0;
      padding: 10px;
      margin-left: 0;
    }

    &--full {
      border-radius: 0;
    }
  }

  .full-block {
    width: 100%;
  }

  .btn {
    opacity: 1;
    mix-blend-mode: normal;
    border-radius: 5px;
    border-color: var(--onekeysdk-color-primary);
    background-color: var(--onekeysdk-color-primary);
    color: rgb(255, 255, 255);
    font-weight: normal;
    padding: 5px 10px 6px;
    text-align: center;
    font-size: var(--onekeysdk-font-size);
    font-style: normal;
    background-position: center center;
    background-repeat: repeat;
    background-size: auto;
    border-width: 1px;
    border-style: solid;
    min-height: 33px;

    &.disabled, &[disabled], fieldset[disabled] {
      cursor: not-allowed;
      filter: alpha(opacity=65);
      opacity: .65;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  input {
    border: 1px solid #ddd;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    height: 38px;

    &:placeholder {
      color: #b8b8b8
    }
  }

  span {
    font-weight: 300;
  }

  strong {
    font-weight: 400;
  }

  .text-primary {
    color:  var(--onekeysdk-color-primary);
  }

  .text-bold {
    font-weight: 700;
  }
}
