:host {
  .main-info {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    position: relative;

    &__name {
      display: grid;
      grid-template-columns: 50px 1fr;
      justify-content: center;
      align-items: center;
      grid-gap: 10px;
    }

    &__avatar {
      background-color: #ddd;
      width: 50px;
      height: 50px;
      display: grid;
      justify-content: center;
      align-items: center;
    }

    &__profile {
      display: grid;
      &-name {
        font-family: var(--onekeysdk-font-profile_title-name);
        color: var(--onekeysdk-color-secondary);
        font-size: var(--onekeysdk-font-profile_title-size);
        font-weight: var(--onekeysdk-font-profile_title-weight);
      }

      &-dep {
        font-family: var(--onekeysdk-font-profile_subtitle-name);
        color: var(--onekeysdk-color-dark);
        font-size: var(--onekeysdk-font-profile_subtitle-size);
        font-weight: var(--onekeysdk-font-profile_subtitle-weight);
      }
    }
  }

  .info-section  {
    border-top: 1px solid var(--onekeysdk-color-card_border);
    padding: 10px 0;
    display: grid;
    grid-gap: 10px;

    &:nth-child(2) {
      border-top: none;
    }
  }

  .info-section-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    align-items: center;

    &__title {
      color: var(--onekeysdk-color-secondary);
      font-family: var(--onekeysdk-font-profile_title_section-name);
      font-size: var(--onekeysdk-font-profile_title_section-size);
      font-weight: var(--onekeysdk-font-profile_title_section-weight);
    }

    &__postfix {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  }

  .info-contact {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    justify-content: center;

    &-item {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto 1fr;
      justify-content: center;
      align-items: center;
    }
  }

  .info-contact-item {
    &.confirm-yes {
      cursor: pointer;
      button {
        background-color: var(--onekeysdk-color-vote_up);

        svg {
          fill: white;
        }
      }
    }

    &.confirm-no {
      cursor: pointer;
      button {
        background-color: var(--onekeysdk-color-vote_down);
        
        svg {
          fill: white;
        }
      }
    }
  }

  .info-section-body {
    display: grid;
    grid-gap: 20px;
    font-family: var(--onekeysdk-font-default-name);
    color: var(--onekeysdk-color-dark);
    font-size: var(--onekeysdk-font-default-size);
    font-weight: var(--onekeysdk-font-default-weight);

    &__map {
      height: 100px;
      width: 100%;
      margin-bottom: 10px;
    }

    &__address {
      select {
        width: 100%;
        padding: 5px;
        border: 1px solid var(--onekeysdk-color-card_border);
        font-size: 13px;
        border-radius: 5px;
        padding: 5px;
      }
    }

    &__location {
      .info-contact-item {
        > :first-child {
          display: grid;
          align-self: start;
        }
      }
    }

    &__contact {
      grid-gap: 30px;
    }

    &__website {

    }

    &__correct {
      grid-gap: 20px;
      grid-template-columns: auto auto;
      justify-content: start;

      .btn.icon {
        padding: 5px;
      }
    }
  }

  .size-xs, .size-sm {
    .leaflet-control-zoom {
      display: none;
    }

    .search-map-wrapper {
      .main-contain {
        position: absolute;
        width: 100%;
      }
      
      .main-block {
        &:last-child {
          position: absolute;
          height: calc(100% - 50px);
          overflow: scroll;
        }
      }
    }
  }

  .size-lg, .size-xl {
    .search-home-hpc {
      form {
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        justify-content: center;
      }
    }

    .search-hpc {
      padding: 0;
    }

    .search-block {
      display: grid;
      grid-gap: 31px;
      grid-auto-flow: row;
      position: relative;
      border: none;
      padding: 0;
    }

    .search-back {
      display: none;
    }

    .main-block {
      margin: 0;
    }

    .main-block--header {
      padding: 0;
    }

    .main-block--content {
      margin-top: 20px;
    }

    .main-block__navigation {
      padding: 5px 0;
      background-color: white;
      border: 1px solid var(--onekeysdk-color-card_border);
      border-radius: 5px;
    }

    .main-info {
      background-color: white;
      border: 1px solid var(--onekeysdk-color-card_border);
      border-radius: 5px;
    }

    .main-contain {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-gap: 10px;
      grid-template-rows: repeat(2, min-content);
    }

    &.list-view-mode {
      .info-section {
        justify-content: start;
        grid-template-columns: 0.4fr 0.6fr;
      }

      .info-section-header__postfix {
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }

    
  }
}
