@import '~leaflet/dist/leaflet.css';
// @import '~leaflet-gesture-handling/dist/leaflet-gesture-handling.css';
@import '~leaflet.markercluster/dist/MarkerCluster.Default.css';
@import '~leaflet.markercluster/dist/MarkerCluster.css';

:host {
  display: block;
  position: relative;

  #map {
    width: 100%;
    height: 100%;
  }

  .current-location {
    font-size: 24px;
    position: absolute;
    right: 10px;
    bottom: 140px;
    display: flex;
    z-index: 99999;
    background: white;
    color: black;
    padding: 12px;
    border-radius: 50px;
    border: 1px solid #adadad;
    justify-content: center;
    align-items: center;
  }
}
