@import '~leaflet/dist/leaflet.css';

:host {
  display: block;
  position: relative;

  #map {
    width: 100%;
    height: 100%;
  }

  .map--no-controls {
    .leaflet-control-zoom {
      display: none;
    }
  }

  .map--dont-touch::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .current-location {
    font-size: 24px;
    position: absolute;
    right: 10px;
    bottom: 120px;
    display: flex;
    z-index: 99999;
    background: white;
    color: black;
    padding: 12px;
    border-radius: 50px;
    border: 1px solid #adadad;
    justify-content: center;
    align-items: center;
  }

  .leaflet-left {
    display: none;
  }
  .leaflet-top .leaflet-control {
    margin-top: 20px;
  }
  .leaflet-right .leaflet-control {
    margin-right: 25px;
  }
  .leaflet-bar {
    box-shadow: none;
    background-color: transparent;
    a {
      width: 38px;
      height: 38px;
      border: 2px solid #cccccc;
      border-radius: 5px;
      font-weight: 200;
      line-height: 30px;
      font-size: 24px;
    }
  }
  
  .leaflet-touch {
    .leaflet-bar {
      a {
        &:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        &:first-child {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
  }
  
  .leaflet-bar,
  .leaflet-control-layers {
    border: 0;
  }
  
  .leaflet-control-zoom-out {
    margin-top: 10px;
  }
  
  .size-mobile {
    .leaflet-left,
    .leaflet-right {
      display: none;
    }
  }
}


.hclsdk-cluster-icon {
  &__marker-pin {
    width: 24px;
    height: 24px;
    border-radius: 50% 50% 50% 0;
    background: #c30b82;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    &::after {
      content: '';
      width: 16px;
      height: 16px;
      margin: 4px 0 0 4px;
      background: #fff;
      position: absolute;
      border-radius: 50%;
    }
  }

  &__number {
    position: absolute;
    width: 22px;
    font-size: 14px;
    left: 0;
    right: 0;
    margin: 11px auto;
    text-align: center;
    display: none;
  }
}

