:host {
  display: block;
  cursor: pointer;

  .doctor-card {
    border: 2px solid var(--onekeysdk-color-card_border);
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    background-color: white;
    width: 250px;
    line-height: 1.3rem;
    display: flex;
    align-items: center;

    &.selected {
      border: 2px solid var(--onekeysdk-color-marker_selected);
    }

    &-content {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    &-arrow-icon {
      justify-self: flex-end;
      color: var(--onekeysdk-color-secondary);
    }

    .name {
      color: var(--onekeysdk-color-secondary);
      font-weight: 500;
    }

    .address {
      color: var(--onekeysdk-color-grey_dark);
      font-family: var(--onekeysdk-font-default-name);
    }

    .gp {
      color: var(--onekeysdk-color-dark);
      font-family: var(--onekeysdk-font-default-name);
    }

    .distance {
      color: var(--onekeysdk-color-dark);
      font-family: var(--onekeysdk-font-default-name);
    }
  }
}
