:host .icon {
  margin: 0 1rem;
}
:host .btn-back a {
  color: #666;
  margin-right: 0.5rem;
}
:host .search-hpc {
  display: flex;
}
:host .search-btn {
  align-self: center;
}
:host .search-form {
  display: flex;
}
:host .search-address-item {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
:host .search-address-item.active {
  border-bottom: 1px solid green;
  color: green;
}