@import '../../../global/scss/variables.scss';

:host {
  display: block;

  hcl-sdk-doctor-card:last-child .doctor-card {
    margin-bottom: 10px;
  }

  .doctor-card {
    cursor: pointer;
    border: 1px solid var(--hcl-color-card_border);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px 0 10px;
    background-color: var(--hcl-color-header_block);
    line-height: 18px;
    display: flex;
    align-items: center;

    &.selected {
      border: 2px solid var(--hcl-color-marker_selected);
    }

    &-content {
      flex: 1;
      min-width: 0;
    }

    &-arrow-icon {
      justify-self: flex-end;
      color: var(--hcl-color-secondary);
    }

    .text {
      display: block;
    }

    .name {
      color: var(--hcl-color-secondary);
      font-weight: 500;
    }

    .address {
      color: var(--hcl-color-grey_dark);
      @include applyFontStyle("default");
    }

    .gp {
      color: var(--hcl-color-dark);
      @include applyFontStyle("default");
    }

    .distance {
      color: var(--hcl-color-dark);
      @include applyFontStyle("default");
    }
  }

  .size-mobile {
    .doctor-card {
      .address {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .gp {
        text-transform: capitalize;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
