:host {
  display: flex;
  cursor: pointer;

  .search-address-item {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .search-address-item-icon-wrapper {
    margin-right: 1.5rem;
    margin-left: 0.5rem;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-address-item-icon {
    font-size: 20px;
    padding: 7px;
    color: #43b02a;
    background: #e3f3df;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    margin-bottom: 2px;
  }

  .search-address-item-text {
    padding: 1rem 0;
    border-bottom: 1px solid white;

    &.active {
      border-bottom: 1px solid green;
      color: green;
    }
  }
}
