:host {
  display: flex;
  cursor: pointer;

  .search-address-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .search-address-item-icon-wrapper {
    margin-right: 1.5rem;
    margin-left: 0.5rem;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-address-item-icon {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: var(--onekeysdk-color-primary);
      opacity: 0.1;
    }
    font-size: 20px;
    position: relative;
    color: var(--onekeysdk-color-primary);
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;


    > .icon {
      > .hydrated {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: grid;
      }
    }
  }

  .search-address-item-text {
    padding: 1rem 0;
    border-bottom: 1px solid white;
    width: 100%;

    &.active {
      border-bottom: 1px solid var(--onekeysdk-color-primary);
      color: var(--onekeysdk-color-primary);
    }
  }
}
