@import '../../../global/scss/variables.scss';

:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  background-color: #f3f3f3;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  @include applyFontStyle('default');

  color: var(--hcl-color-dark);

  *,
  *::before,
  *::after,
  input,
  button {
    box-sizing: border-box;
  }

  .wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .main-contain {
    display: block;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header-block {
    padding: 10px;
    border-bottom: 1px solid var(--hcl-color-card_border);
    background-color: #fff;
  }

  .body-block {
    flex: 1;
    overflow-y: auto;
  }

  .main-block {
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--hcl-color-card_border);
    margin: 10px;

    &--full {
      border-radius: 0;
    }

    &__navigation {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
    }
  }

  .full-block {
    width: 100%;
  }

  input {
    border: 1px solid var(--hcl-color-card_border);
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 5px;

    &:placeholder {
      color: var(--hcl-color-grey);
    }
  }

  span {
    font-weight: 400;
    color: #2b3c4d;
  }

  strong {
    font-weight: 400;
  }

  a {
    color: #2b3c4d;
    text-decoration: unset;
  }

  .text-primary {
    color: var(--hcl-color-primary);
  }

  .text-bold {
    font-weight: 700;
  }

  .text-small {
    font-size: 14px;
  }

  $sizes: mobile, tablet, desktop;

  @each $size in $sizes {
    .size-#{$size} {
      .hidden-#{$size} {
        display: none;
      }
      .show-#{$size} {
        display: block;
      }
    }
  }

  .size-desktop, .size-tablet {
    .main-block {
      display: grid;
      grid-gap: 31px;
      grid-auto-flow: row;
      border: none;
      background-color: transparent;
  
      &--header {
        background-color: white;
      }
    }
  }
}