@import '../../../global/scss/variables.scss';

:host {
  .main-contain {
    background-color: var(--hcl-color-view_bkg);
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .title {
    color: var(--hcl-color-secondary);
    display: block;
    line-height: 21px;

    @include applyFontStyle('title_main');
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &__icon {
      &::before {
        content: '';
        background-color: var(--hcl-color-primary);
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 0;
        opacity: 0.1;
      }

      margin-right: 16px;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 50%;
      .icon {
        fill: var(--hcl-color-primary);
      }
    }

    &__message {
      flex: 1;
    }
  }

  .header {
    text-align: center;
  }

  .content {
    margin-top: 30px;
    display: grid;
    grid-gap: 40px;
  }

  .sub-text {
    display: block;
    color: #666666;
  }

  .search-home-hpc {
    form {
      position: relative;
      display: grid;
      grid-template-columns: 1fr auto;

      .hclsdk-btn-search-address {
        width: 42px;
        height: 100%;
        padding: 0;
        border: none;
      }
    }
  }

  .search-input {
    width: calc(100% + 3px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 40px;
    &::placeholder {
      color: var(--hcl-color-grey_light);
    }
  }

  .search-btn {
    margin-top: 35px;
  }

  // Responsive base on container
  .size-desktop,
  .size-tablet {
    .search-home-hpc {
      form {
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 30px;
        justify-content: center;
      }
    }

    .home {
      .content {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 350px));
        grid-gap: 5%;
      }

      .header {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, minmax(auto, max-content));
        justify-content: center;
        padding: 30px 0 0;

        .title {
          font-size: 24px;
          display: inline-block;
          br {
            content: '';
          }
          br:after {
            content: '\00a0';
          }
        }
      }

      .item {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-gap: 15px;
        border: 1px solid var(--hcl-color-card_border);
        padding: 25px 10px;
        border-radius: 10px;
        background-color: white;

        &__icon {
          margin-right: 0;
          justify-self: center;
          width: 54px;
          height: 54px;
          background-color: var(--hcl-color-primary);

          svg {
            fill: white;
          }
        }

        &__message {
          display: grid;
          grid-gap: 15px;

          strong {
            font-size: 18px;
            font-weight: 500;
          }
        }
      }
    }
  }

  .card {
    background-color: white;
    border: 1px solid var(--hcl-color-card_border);
    margin: 12px 12px 0 12px;
    border-radius: 5px;

    &:last-child {
      margin-bottom: 12px;
    }
  }

  .size-desktop,
  .size-tablet {
    .card {
      width: 640px;
      margin: 32px auto;
    }
  }

  .card__title-wrapper {
    position: relative;
    border-bottom: 1px solid var(--hcl-color-card_border);

    button {
      border: none;
      color: var(--hcl-color-primary);
      background: transparent;
      position: absolute;
      top: 9px;
      right: 10px;
      padding: 5px 0;
      outline: none;
      cursor: pointer;
      @include applyFontStyle('small');
    }
  }

  .card__title {
    margin: 0;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;

    @include applyFontStyle('card_title');
  }

  .card__content-wrapper {
    &--with-padding {
      padding: 10px;
    }
    .info-section-body__map {
      cursor: pointer;
    }
  }

  .history-item {
    cursor: pointer;
    position: relative;
    padding: 12px 10px;

    p {
      margin: 0;
      line-height: 1.3;
    }

    &__criteria,
    &__name {
      color: var(--hcl-color-secondary);
    }
    &__address {
      color: var(--hcl-color-grey_dark);
    }
    &__time-from {
      font-size: var(--hcl-font-small-size);
    }

    & + .history-item {
      border-top: 1px solid var(--hcl-color-card_border);
    }

    .hclsdk-btn--has-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      svg path {
        fill: var(--hcl-color-grey) !important; // @TODO change path in SVG
      }
    }
  }
}
