:host {
  border-bottom: 1px solid #ddd;

  .search-back {
    align-self: flex-start;
    display: flex;

    a {
      color: #666;
      margin-right: 0.5rem;
      align-self: flex-start;
    }
  } 

  .search-block {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: white;
    width: 100%;
    margin: 0 !important;
    padding-right: 0px;
    border-radius: 0px;
  }

  .search-content {
    background: white;
    padding: 0 15px;
    border-top: 1px solid #ddd;
    margin-top: 113px;
    padding-top: 10px;
  }

  .search-hpc {
    display: flex;
    align-items: center;
    padding: 10px 15px;
  }

  .search-address-btn {
    align-self: center;
    position: relative;
    margin: 0 0 0 8px;
    padding: 5px 10px;
  }

  .search-form {
    display: flex;
    width: 100%;

    input:first-child {
      margin-bottom: 8px;
    }

    .error {
      border: 1px solid red;
    }    

    &-content {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;

      &-item {
        position: relative;

        &__remove {
          position: absolute;
          right: 0;
          justify-content: center;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .search-address-item {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
}