@import '../../../global/scss/variables.scss';

:host {
  position: absolute;

  .sort-body {
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 28px 15px 18px 15px;
    grid-gap: 10px;
    border-radius: 5px;
    border: 1px solid var(--onekeysdk-color-card_border);
    background: white;
    height: 100%;
  }

  .sort-option {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 26px;
  }

  .sort-option-item {
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto;
    color: var(--onekeysdk-color-dark);
    @include applyFontStyle("sort_criteria");
    align-items: center;

    &:last-child {
      &::after {
        content: '';
        position: absolute;
        bottom: -26px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: var(--onekeysdk-color-card_border);
      }
    }
  }

  .sort-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

    > :first-child {
      button {
        background-color: var(--onekeysdk-color-button_discard_bkg);
        color: white;
      }
    }

    > :last-child {
      button {
        background-color: var(--onekeysdk-color-button_accept_bkg);
        color: white;
      }
    }
  }

  > .size-xs, > .size-sm, > .size-md {
    .onekey-sdk-sort {
      height: 100%;
      grid-template-rows: auto 1fr;
      grid-gap: 10px;
    }
  }

  >.size-tablet,
  >.size-desktop {
    .sort-action {
      .oksdk-btn {
        padding: 7px 10px;
      }
    }

    .sort-option-item {
      font-size: var(--onekeysdk-font-sort_criteria-desktop-size);
    }
  }

  >.size-tablet,
  >.size-desktop {
    .sort-body {
      padding: 0;
      border: none;
      grid-gap: 20px;
    }

    .sort-option {
      padding-top: 14px;
      padding-bottom: 26px;
    }
  }

  >.size-mobile {
    .onekey-sdk-sort {
      height: 100%;
    }

    .sort-action {
      .oksdk-btn {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }

  onekey-sdk-sort {
    &.size-mobile {
      width: 100%;
    }
  }
}