:host .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
:host .title {
  color: #00a3e0;
  display: block;
  font-size: 1.5rem;
}
:host .item {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
:host .item__icon {
  margin-right: 1rem;
  padding: 10px 12px;
  background-color: #e3f3df;
  border-radius: 50%;
  color: #43B029;
}
:host .header {
  text-align: center;
  margin-bottom: 1rem;
}
:host .content {
  margin-bottom: 1rem;
}
:host .sub-text {
  display: block;
}
:host .search-hpc {
  display: flex;
  width: 100%;
}