@import '../../../global/scss/variables.scss';

:host {
  display: block;

  .toggle-panel {
    display: none;
  }

  .hclsdk-btn-relaunch {
    position: absolute;
    bottom: 125px;
    left: 50%;
    display: inline-block;
    z-index: 99999;
    transform: translateX(-50%);
    .hclsdk-btn {
      border-radius: 20px;
      @include applyFontStyle("small");
      &__icon {
        margin-right: 4px;
      }
    }
    &--loading {
      .hclsdk-btn__icon {
        animation: keyframes-circular-rotate 1.4s linear infinite;
      }
    }
  }

  .btn-back {
    font-size: 25px;
    margin-right: 8px;

    a {
      color: var(--hcl-color-dark);
    }
  }

  .search-result {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;

    &__total, &__total-value {
      color: var(--hcl-color-dark);
      @include applyFontStyle("search_result_total")
    }

    .search-home-hpc {
      display: flex;
    }

    .header-infos {
      width: 100%;
    }

    &.with-nearme .search-section {
      padding: 10px;
      grid-gap: 0;
    }

    &__total-value {
      font-weight: normal;
      color: var(--hcl-color-primary);
    }

    &-title {
      color: var(--hcl-font-search_result_title-weight);
      @include applyFontStyle("search_result_title")
    }

    &-address {
      color: var(--hcl-color-grey);
      @include applyFontStyle("small")
    }

    .search-data {
      position: relative;
    }
    &__loading {
      position: absolute;
      padding: 120px 0;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  .search-section {
    padding: 16px 8px;
    border-bottom: 1px solid var(--hcl-color-card_border);
    align-items: center;
    background: white;
  }

  .search-header {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    align-items: start;
    padding: 15px;
    grid-template-rows: min-content;

    .btn-back {
      padding: 0;
    }
  }

  .search-toolbar {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    z-index: 10;
  }

  .search-map {
    padding: 0;
    height: calc(100% - 112px);
    position: relative;
    z-index: 1;

    &__content {
      height: 100%;
    }

    &-wrapper {
      grid-template-rows: min-content;
    }

    .search-data {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      z-index: 1000;
      overflow-y: hidden;


      &.list-view {
        position: relative;
        flex-direction: column;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px 10px 0 10px;
        margin-left: 0;
        flex: 1;
        width: auto;
        margin-bottom: 0;
        background-color: var(--hcl-color-list_bkg);

        .doctor-card {
          margin-left: 0;
          margin-bottom: 10px;
          flex: 1;
          width: auto;
        }
      }
    }
  }

  .search-filter-wrapper {
    border: 1px solid var(--hcl-color-card_border);
    padding: 3px;
    border-radius: 32px;
  }

  .search-filter {
    background-color: var(--hcl-color-secondary);
    font-size: 24px;
    border-radius: 32px;
    width: 24px;
    height: 24px;
  }

  .hcl-sdk-search-result {
    .body-block {
      position: relative;
    }
  }

  .size-mobile {
    .search-header {
      align-items: center;
    }
    
    .map-view-mode {
      .search-data {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10000;
        display: flex;
        overflow: auto;
      }

      .doctor-card {
        width: 250px;
      }
    }

    .search-result {
      overflow: hidden;
      &__wrapper {
        margin-right: 10px;
      }
    }

    .search-toolbar {
      display: flex;
      padding: 10px;
      .search-filter-wrapper {
        margin-left: auto;
      }
    }

    hcl-sdk-hcp-full-card {
      .search-toolbar {
        border: 1px solid var(--hcl-color-card_border);
        border-bottom: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 10px 10px 0 10px;
        grid-gap: 0;
        padding-bottom: 0;
        .search-back-large {
          height: auto;
          margin-right: auto;
        }
        .hclsdk-btn {
          padding: 0;
        }
      }
      .hcp-details-card.main-block {
        margin-bottom: 10px;
      }
    }

    .search-map-wrapper {
      .main-block {
        margin-top: 0;
        margin-bottom: 0;

        &:first-child {
          margin-top: 10px;
          border-bottom: none;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:last-child {
          border-top: none;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }

    // Prevent interaction when re-launching search with new location
    .body-block {
      &__disabled {
        .current-location,
        .hclsdk-btn-relaunch {
          pointer-events: none;
        }
      }
    }
  }

  .size-tablet, .size-desktop {
    .map-view-mode {
      .search-map-wrapper {
        position: absolute;
        width: 360px;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 10000;
        overflow: auto;
        background-color: var(--hcl-color-list_bkg);
        border-right: 1px solid var(--hcl-color-card_border);
      }

      .hcp-details-card {
        margin-left: 0;
        margin-right: 0;
        width: auto;
      }

      .search-toolbar {
        margin-top: 0;
        border: none;
        border-bottom: 1px solid var(--hcl-color-card_border);
        border-radius: 0;
        position: sticky;
        top: 0;
        width: auto;
        margin: 0;
      }

      .search-data {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
      }
    }

    .search-result__wrapper {
      margin-right: 10px;
    }

    .search-toolbar, .search-data {
      width: 640px;
      margin-left: auto;
      margin-right: auto;
    }

    .search-toolbar {
      margin-top: 30px;
      border: 1px solid var(--hcl-color-card_border);
      border-radius: 5px;
      display: flex;
      padding: 0 5px;
      background-color: white;
      .hclsdk-btn {
        padding: 0;
      }
    }

    .search-data .doctor-card {
      margin-left: 0;
      margin-right: 0;
    }

    .search-map .search-data.list-view {
      background-color: transparent;
    }

    .search-map-wrapper.hide {
      display: none;
      & + .toggle-panel {
        left: 3px;
        transform: rotate(0);
      }
    }

    .list-view-mode {
      .search-map {
        .search-map-wrapper {
          position: relative;
          width: 100%;
          grid-template-columns: 500px;
          justify-content: center;
        }

        .search-toolbar {
          border: 1px solid var(--hcl-color-card_border);
          grid-template-columns: 1fr auto auto;
          border-radius: 5px;
          margin-top: 10px;
        }
      }

      .search-map.search-section {
        .search-map-wrapper {
          background-color: var(--hcl-color-view_bkg);
        }
      }

      .search-map {
        .search-data.list-view{
          padding: 10px 0;

          .doctor-card {
            border-width: 1px;
          }
        }
      }
    }

    .map-view-mode {
      .search-data.list-view {
        background-color: var(--hcl-color-list_bkg);
      }
      .main-block--content {
        margin-top: 0;
      }

      .main-info {
        margin: 0 10px;
      }

      .main-block__navigation {
        border-radius: 0;
      }

      .current-location {
        right: 15px;
        bottom: 20px;
      }

      .toggle-panel {
        position: absolute;
        z-index: 9999;
        left: 363px;
        height: 36px;
        width: 26px;
        padding: 0;
        display: grid;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--hcl-color-card_border);
        background: white;
        transform: rotate(180deg);
        top: 5px;
        border-radius: 5px;
        .hclsdk-btn {
          padding: 0;
        }
      }
    }

    .hclsdk-btn-relaunch {
      bottom: 25px;
      margin-left: 180px;
    }

    .search-map-wrapper {
      &.hide {
        & ~ .hclsdk-btn-relaunch {
          margin-left: 0;
        }
      }
    }
  }

}


