:host {
    .input-container {
        position: relative;
        width: 100%;

    }
  .hidden {
    visibility: hidden;
    opacity: 0;
  }
  .input-wrapper {
      width: 100%;
      display: flex;
      border-radius: 5px;
      padding: 5px;
      border-width: 1px;
      border-color: var(--hcl-color-card_border);
      border-style: solid;
      align-items: center;
      justify-content: space-between;
    input {
      border: 0px;
      border-radius: 0;
      padding: 0;
      height: auto;
      width: 100%;
      font-size: var(--hcl-font-default-size);

      &:focus {
        border: 0px;
      }
    }
  }
  .list-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-inline-start: 0;
    list-style-type: none;
    display: none;
    background-color: white;
    border: 1px solid var(--hcl-color-card_border);
    max-height: 200px;
    overflow-y: auto;
    &.open {
      display: block;
      z-index: 1;
    }
  }
  .service-item {
    padding: 1px 5px;
    &:hover {
      background-color: var(--hcl-color-primary);
    }
    label {
      display: block;
      width: 100%;
    }
  }
  .loader-dropdown {
    position: sticky;
    top: 0px;
  }
}
