:host {
  display: block;
}
:host .doctor-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin-left: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 16rem;
}
:host .doctor-card .name {
  color: #00a3e0;
}
:host .doctor-card .address {
  color: #666;
}