:host {
  hcl-sdk-profile-map {
    width: 100%;
  }
  .profile-map {
    height: 100%;
    display: flex;
    flex-direction: column;
    &__head {
      display: flex;
      padding-bottom: 14px;
      &--icon {
        width: 26px;
        min-width: 26px;
        padding-top: 3px;
      }
      &--label,
      &--address {
        margin: 0;
      }
      &--label {
        color: var(--hcl-color-secondary);
      }
    }
    &__content {
      flex: 1 0 0;
      border-radius: 5px;
      border: 1px solid var(--hcl-color-card_border);
    }
    &__modal {
      .modal {
        &-class {
          background-color: #fff;
          grid-template-rows: auto;
        }
        &-title {
          top: 10px;
          right: 10px;
          position: absolute;
          &::after {
            content: none;
          }
        }
      }
    }
    hcl-sdk-map {
      height: 100%;
      min-height: 0;
      display: block;
    }
  }
}